<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset wachtwoord</title>
    <link rel="stylesheet" href="css/style.css">
    <%- include("partials/linksAndScripts") %>
</head>
<header>
    <%- include("partials/indexNavbar") %>
</header>
<body>
    <!-- login modal -->
    <%- include("partials/login") %>

    <!-- register modal -->
    <%- include("partials/register") %>

    <!-- profile modal -->
    <%- include("partials/profile") %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header text-center border-bottom-0">
                        <h4>Wachtwoord instellen</h4>
                    </div>
                    <div class="card-body">
                        <form action="/reset-password/<%= token %>" method="POST" oninput='password2.setCustomValidity(password2.value != password.value ? "Wachtwoorden komen niet overeen." : "")'>
                            <div class="form-group mt-3">
                                <input type="password" class="form-control" id="password" name="password" placeholder="uw wachtwoord" pattern="(?=.*[A-Z]).{8,}" title="Wachtwoord moet minstens één hoofdletter en minimaal 8 tekens bevatten" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="bevestig wachtwoord" required>
                            </div>
                            <button type="submit" class="btn btn-warning w-100 mt-4">Opslaan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-3 my-4">
        <p class="text-center text-body-secondary">LMG © 2024</p>
    </footer>

    <script src="/js/profile.js"></script>
</body>
</html>